extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Portfolio of Projects
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Louise Iyengar

        //- Feel free personalize the title below
        p.lead.text-light
          | Web Developer with front-end and back-end experience.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | I am a Web Developer with front-end and back-end experience maintaining and modifying enterprise, 	web-based applications.  I have worked on a team that redesigned the front-end of a customer-facing CMS, and I have done maintenance and production support for enterprise, web-based CMS applications written in PHP, using a Zend Framework and MySQL database.
          p  
            | Currently, I am working to hone and expand my JavaScript skills, both front-end and back-end, working with everything from jQuery to node.js, Express, and Pug.
          p
            | In addition, I have good communication skills and have enjoyed working with designers, writers, and marketing personnel, using my web development skills to bring their ideas to fruition.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li JavaScript
          li PHP
          li HTML5
          li CSS
          li SCSS 
          li jQuery
          li Zend
          li Express
          li Foundation 5
          li Pug
          li MySQL
          li Apache
          li node.js
          li Linux CLI
          li git
        h6 Contact Info

        //- Add your own contact info
        ul
          li (914-980-8967)
          li lki@louiseiyengar.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='/static/resume/LouiseIyengarResume.pdf' target='_blank') View Resume
        a.button.expanded(href='https://www.linkedin.com/in/louise-iyengar-06a58b85/' target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/louiseiyengar/' target='_blank') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Portfolio of Projects
  