
h1,h2,h3,h4,h5,p{
  font-family: 'Merriweather', serif;
}

  h5{
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
  }

  h6{
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
    font-weight: 600;
  }

  p{
    font-size: 15px;
    color: #666;
  }

.round{
  border-radius: 5px;
}

.text-light{
  color: #666;
}

.button{
  background-color: #333;
}

.button:hover{
  background-color: #111;
}

a{
  color: #333;
}

a:hover{
  color: #111;
}

.image{
  display: inline-block;
  max-width: 100%;
  margin-bottom: 1rem;
  border: solid 4px #fefefe;
  border-radius: 0;
  box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2);
  line-height: 0;
}

.portfolio-me{
  padding: 20px;
  background: #121213;
  color: #fff;
  box-shadow: none !important;
}

  .portfolio-me p{
    font-size: 14px;
    color: #999;
  }

  .portfolio-me a{
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: #555;
    font-size: 13px;
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
  }

  .portfolio-me a:hover{
    color: #999;
  }

.portfolio-breadcrumb{
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid #eaeaea;
}

 .portfolio-breadcrumb a{
   font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
   font-weight: 600;
   font-size: 13px;
   letter-spacing: 2.5px;
   -webkit-text-transform: uppercase;
   text-transform: uppercase;
 }

.portfolio-intro{
  margin: 0;
  padding: 40px 50px 30px;
}

.portfolio-intro p{
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 40px;
}

.portfolio-index{
  margin: 0;
  padding: 10px 50px;
}

  .portfolio-index .thumbnail{
    margin-bottom: 5px;
  }

  .portfolio-index a{
    color: #222;
  }

  .portfolio-index .cell{
    margin-bottom: 15px;
  }

    .portfolio-index .cell h5{
      letter-spacing: 1px;
    }

.portfolio-meta{
  padding-left: 20px;
}

  .portfolio-meta .button{
    margin-bottom: 5px;
  }

.portfolio-project p{
  border: none;
}

.portfolio-project li{
  font-size: 13px;
  color: #444;
}

.portfolio-bio{
    line-height: 25px;
}

.portfolio-bio p {
  padding-bottom: 7px;
}

img.error {
  padding: 4px;
  border: 1px dotted #777777;
  border-radius: 10%;
}
.error-message {
  padding-top: 2.5rem;
  text-align: center;
}

.error-stack {
  margin-top: 1rem;
  border-top: 1px dashed black;
  padding-top: 2rem;
  text-align: left;
}

/* Added styles */
h1 {
  font-family: 'Patua One', cursive;
  color: #555;
}

p.lead {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

.portfolio-project p.lead {
  border-bottom: 0;
}

a.expanded {
  background-color: #7c7c7f;
}

a.expanded:visited {
  background-color: #7c7c7f;
  color: white;
}

a.expanded:hover {
  box-shadow: 3px 3px 10px #555;
  transition: ease-in .4s;
  background-color: #fff;
  color: gray;
}

.portfolio-intro p {
  border-bottom: 1px solid #80808269;
}

.portfolio-me p {
  color: #e2e1e1;
  font-family: "Roboto", sans-serif;
}

.portfolio-me a {
  color: #444;
}

.portfolio-bio p {
  border-bottom: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

.portfolio-project p.lead {
  border-bottom: 1px solid #80808269;
}

.portfolio-project p.no-line {
  border-bottom: 0;
}

.position-left {
  background-color: #7c7c7f;
  color: #fff;
}
.cell h5 {
  font-family: 'Patua One', cursive;
  color: #fff;
  font-size: 1.1rem;
  text-align: center;
}

.cell a h5 {
  color: #868484;
}

.cell img:hover {
    background: rgba(255, 255, 255, 1);
    box-shadow: 3px 3px 10px #555;
    transition: ease-in .4s;
}
